<!DOCTYPE html>
<html ng-app="MyApp">

<head>
    <meta charset="utf-8">
    <title>AngularJS</title>
    <script type="text/javascript" src="/node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="/controller.js"></script>
    <script type="text/javascript" src="/app.js"></script>
    <script type="text/javascript" src="/node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
    <style>
        [ng\:cloak],
        [ng-cloak],
        [data-ng-cloak],
        [x-ng-cloak],
        .ng-cloak,
        .x-ng-cloak {
            display: none !important;
        }
    </style>
</head>

<body ng-controller="FavoriteController as favorite">
    <h2>What is your favorite color?</h2>
    <button ng-click="favorite.pickColor('red')">Red</button>
    <button ng-click="favorite.pickColor('green')">Green</button>
    <button ng-click="favorite.pickColor('blue')">Blue</button>

    <h2>Your favorite color is:</h2>
    <output>{{favorite.color}}</output>


</body>

</html>
